# URL da aplicação de UI (Restful-Booker-Platform)
UI_BASE_URL=https://automationintesting.online

# URL da API (Restful-Booker)
API_BASE_URL=https://restful-booker.herokuapp.com

# Credenciais da API de teste (usadas para gerar o token de autenticação)
API_USERNAME=admin
API_PASSWORD=password123
